<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>{{recipe_id}}</ion-title>
  </ion-toolbar>
  <style>

  ion-slide.swiper-slide {
        left: 0%;
    }
    
    .slide-zoom {
        background: #e6e6e6;
    }
 
    .imagen-fija{
      width: 150px !important;
      height: 150px !important;
    }
    .space{
      margin-left: 10px;
      margin-right: 10px;
    }
    .ingredientes{
      margin-left: 10px;
      margin-right: 10px;
      color: gray;
      margin-bottom: 0px;
    }
    .vermas{
      display: inline;
      margin-bottom:0px;
      margin-left:10px;
      color:blue;
      text-decoration:underline;
    }
  </style>
  
</ion-header>

<ion-content >
    <h2 class="space" >{{this.data[1].name}}</h2>
    <p class="ingredientes">Ingredientes: Patata, Cebolla, Leche, Calabacín, Zanahoria,...</p>
    <p class="vermas">Ver más</p>
    <p class="space">
      <ion-icon  slot="start" color="medium" name="time">                
      </ion-icon>
      {{this.data[1].time}}
      <ion-icon  slot="start" color="medium" name="star"></ion-icon>
      {{rhis.data[1].stars}}
     <br />
     <br />
    {{this.data[1].description}}
    </p>

    
    <ion-slides class="image-slider" loop="true" autoplay="true" speed="8000" slidesPerView="1" [options]="slideOpt"> 
        <ion-slide *ngFor="let img of images" >
            <ion-card color="primary">
              <p >
                  <img  src="assets/img/{{img}}"  />
              </p>
                    
            </ion-card>

          
        </ion-slide>
      </ion-slides>

     

</ion-content>