<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Eliminar Cuenta</ion-title>
  </ion-toolbar>
  <style>
    .h1-text{
      margin-left:15px;
      margin-right:15px;
      margin-top:40px;
    }
    
  </style>
 
</ion-header>

<ion-content>
    <h1 text-center class="h1-text"> ¿Estás seguro que quieres eliminar la cuenta?</h1>
    <section text-center>
      <ion-button size="large" type="submit" text-capitalize="false" > Sí</ion-button>
      <ion-button size="large" type="submit" text-capitalize="false" routerLink="/tabs/tab3" routerDirection="backward"> No</ion-button><br /><br />
      <img src="/assets/sad.png">
    </section>
    

</ion-content>
