<ion-header>
    
    <style>
    .aligncenter {
      text-align: center;
      margin-top:40px;
      margin-bottom:0px;
  }
  .rounded{
    margin-left:30px;
    margin-right:30px;
    --border-radius:30px;
  }
    </style>
    
  </ion-header>
  
  <ion-content color="primary">
    <p class="aligncenter">
        <img src="/assets/main-image2.png" width="70%" height="70%" >
    </p>
    <form class="aligncenter" >
      <ion-item lines="full" class="rounded">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <br />
      <ion-item lines="full" class="rounded">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="secondary" expand="block" (click)="navTabs()" >Entrar</ion-button>
          <!--<a routerLink="/register">
            <p color="dark">
              Registrarse
            </p>
          </a>-->
          <ion-button type="submit" color="secondary" expand="block" routerLink="/register" routerDirection="forward" >Registrarse</ion-button>
          

        </ion-col>
      </ion-row>
    </form>
  </ion-content>