<ion-header>
  <ion-toolbar color="primary">
    <p class="aligncenter">
        <img width="90" height="70" src="/assets/main-image2.png"  />
      </p>
    <ion-title>  
      <h1>Inicio</h1>
    </ion-title>
  </ion-toolbar>
  <style>
      .aligncenter {
          text-align: center;
          margin-top:10px;
          margin-bottom:-40px;
      }
      .item ion-thumbnail {
    min-width: 7rem;    
    min-height: 7rem;
    img {
        max-width: 7rem;    
        max-height: 7rem;
    }
}
      </style>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
     <!-- <img src="/assets/shapes.svg" alt="" />-->
      <img src="/assets/recipes-header-m.jpg" alt="" />

      <ion-card-header>
        <ion-card-title>Bienvenido a Recipe Book!</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <p>Disfruta de las mejores recetas o comparte las tuyas!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines=1  >
      <ion-list-header  >
        <ion-label>Añadidas recientemente</ion-label>
      </ion-list-header>
      

      <!-- se muestran las 5 últimas recetas -->
      <!--<ion-item *ngFor="let recipe of recent_recipes_Array" routerLink="/recipe/{{recipe.name}}" routerDirection="forward">  -->
      <ion-item *ngFor="let recipe of data" routerLink="/recipe/{{recipe.name}}" routerDirection="forward">      
     
        <ion-thumbnail slot="start" >
          <!-- la imagen del thumbnail será variable de la receta-->
            <img src="/assets/img/{{recipe.imagen}}"/>

        </ion-thumbnail>
        <ion-label  text-center> 
          <h1> {{ recipe.name }} </h1>
          <p>
            <ion-icon slot="start" color="medium" name="time"></ion-icon>
            {{ recipe.time }} min.              
            <ion-icon slot="start" color="medium" name="trending-up"></ion-icon>
            {{ recipe.stars}}
            <br />
            <br />
            {{recipe.description}}
          </p>
        </ion-label>
    </ion-item>
    </ion-list>
</ion-content>
